// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.card-container{
  display:flex;
  flex-direction:column;
  align-items:center;

}

.rating-card{
  border:1px solid #aaaaaa;
  border-radius:0.8rem;
  background:#eeeeee;
  margin:1rem;
  padding:2rem;
  width:60%;
}